# Terraform files
*.tfvars
*.tfvars.json
!example.tfvars
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.DS_Store
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
